<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/index}">
        <label>To index</label>
        <input type = "submit">
    </form>
    <div th:object="${blog}">
        <h1><span th:utext="*{blogName}"/></h1>
        <h1><span th:utext="*{blogInfo}"/></h1>
    </div>
    <form action="#" method="get" th:if="${isOwner}" th:action="@{/blog/{id}/redact(id = ${blog.id})}">
        <label>Redact</label>
        <input type = "submit">
    </form>
    <div>
        <span th:each="post : ${blog.posts}">
            <a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.postName}">[postName]
            </a>
        </span>
    </div>
</body>
</html>