<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="#" role="form" th:object="${blog}" th:action="@{/blog/{id}/redact(id = ${blog.id})}">
        <label>Blog Name</label>
        <input required id="blogName" name="blogName" type="text" th:field="*{blogName}" maxlength=20>

        <label>Blog Info</label>
        <input required id="blogInfo" name="blogInfo" type="text" th:field="*{blogInfo}" maxlength=1000>

        <input type="submit" value="Submit">
    </form>
</body>
</html>